
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group mx-5" method="post">
    <div class="input-group mb-3">
        <span class="input-group-text" id="CategoryName">Kategori Adı</span>
        <input type="text" id="CategoryName" name="CategoryName" class="form-control">
    </div>
    <div style="width:100%;" class="input-group px-5 justify-content-center ">
        <button type="submit"  class="btn btn-success mx-5">Kategori Ekle</button>
    </div>

</form>

